.power{
    color: white;
   text-align: center;
   letter-spacing: -1px;
}
.power-h4{
    color: #f2a91e;
    text-align-last: center;
    width: 70%;
    letter-spacing: -1px;
   margin-left: 15%;
}
  